.thumbnail-com {
    /* position: relative; */
    /* width: 429px;
    height: 238px; */
    width: 429px;
    height: 268px;
    border-radius: 6px;
}

.ongoingMargin-com {
    padding-left: 1.2rem;
   
    /* margin: 0rem 12rem; */
}

.ongoing-com {
    position: absolute;
    top: 16rem;
    left: 15rem;
}

.videoName-com {
    position: absolute;
    top: 22rem;
    left: 15rem;
}
.chapCount-com {
    position: absolute;
    top: 23.5rem;
    left: 15rem;
}

.thumbnailText-com {
    font-family: 'ProximaNovaSoftW03-Medium';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.continue-com {
    position: absolute;
    top: 12rem;
    left: 3rem;
    /* font-family: 'Proxima Nova Soft'; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    background: #EC5D52;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 5px 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.continue-com:active {
    transform: scale(0.98);

}

.ongoingItems-com{
    display: flex;
    row-gap: 1rem;
    column-gap: 3rem;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
}

.thumbnail-com {
    width: 400px;
    height: 250px;
}


.ongoingItem-com{
    position: relative;
    cursor: pointer;
 
}

.videoNames {
    position: absolute;
    top: 9.5rem;
    left: 3rem;
}

.noCourse{
    font-style: normal;
font-weight: 400;
font-size: 24px;
color: #000000;
/* padding-left: 3%; */
}

@media only screen and (max-width: 1200px) {
    .thumbnail-com {
        width: 339px !important;
    }
}

@media only screen and (max-width: 1707px) {
    .thumbnail-com {
        width: 349px;
    }

    .ongoingItems-com {
        column-gap: 2rem !important;
        row-gap: 1rem !important;
    }

}

@media only screen and (max-width: 1847px) {
    .thumbnail-com {
        width: 379px;
    }

    .ongoingItems-com {
        column-gap: 2rem;
        row-gap: 1rem;
    }

}
@media only screen and (max-width: 1349px) {
    .thumbnailText-com {
        font-size: 18px;
    }
    .continue-com{
        font-size: 18px;
    }
}
